<div [ngClass]="{'list-group-item' : true,
                           'list-group-item-danger' : getPost().loveIts < 0,
                           'list-group-item-success' : getPost().loveIts > 0}">
  <div class="row">
    <div class="col-lg-9">
      <h2 title="titre de poste">
        <strong>
          <div style="color: red" *ngIf="getPost().loveIts < 0">
            {{ post.title  }}
          </div>
          <div style="color: green" *ngIf="getPost().loveIts > 0">
            {{ post.title  }}
          </div>
          <div *ngIf="getPost().loveIts === 0">
            {{ post.title  }}
          </div>
        </strong>
      </h2>
    </div>
    <div class="col-lg-3">
      <div title="date" style="color: gray; font-size: x-large"><i>{{ getPost().created_at | date : 'short' | uppercase
        }} </i></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p title="contenu de post"> {{ getPost().content}} </p>
      <div>
        <button title="loveIt button" type="button" class="btn btn-success m-1" (click)="loveItButton()">love It
          <span class="badge badge-light" *ngIf="getPost().loveIts > 0">{{ getPost().loveIts }}</span>
        </button>
        <button title="don't loveIt button" type="button" class="btn btn-danger m-1" (click)="dontLoveItButton()">don't
          Love It
          <span class="badge badge-light" *ngIf="getPost().loveIts < 0">{{ -getPost().loveIts }}</span>

        </button>
        <button type="button" class="btn btn-danger m-1 float-right" (click)="supprimerPost(post.id)">
          Supprimer Post
        </button>
      </div>


    </div>
  </div>
</div>


